*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
header{
    width: 100%;
    height: 250px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;

}
img{
    width: 500px;
    height: 200px;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
list-style-type: none;

}
li{
    font-size: 30px;
color: black;
background:rgb(128, 4, 4);
padding: 10px;
border-radius: 15px;
}
section{
    display: flex;
    flex-direction: row;
}
#Art1{
    width: 30%;
    padding: 20px 25px 0 25px;
}
#Art2{
    width: 70%;
    padding: 20px 25px 0 15px;
}
#Art1 p{
    padding-top: 15px;
    color: greenyellow;
    font-size: 14px;
}
#Art2 #ulArt2{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    justify-content: center;
}
#Art2 #ulArt2 li{
    background: blueviolet;
    padding: 20px;
    border-radius: 15px;

}
#ulArt3, #h3Art3{
    background: rgb(199, 185, 185);
    list-style: none;
    padding-top: 20px;
}
#ulArt3 li{
     padding-top: 40px;
     
}